<h1>@ViewBag.Title</h1>
<hr />
<div class="col-lg-8">
    <h3>Zadaniem było stworzenie działającego API</h3>
    <ol type="1">
        <li>
            Technologie:
            <ul>
                <li> baza danych MSSQL</li>
                <li> ASP.NET Core MVC 2.2, Web API</li>
                <li> Entity Framework</li>
            </ul>
        </li>
        <li>
            Co w programie:
            <ul>
                <li>
                    Baza danych jak na schemacie:
                    <img src="~/MovieApiERD.png" />
                </li>
                <li>Działający CRUD dla wszystkich encji(WebAPI)</li>
                <li>Walidacja WebApi</li>
                <li>Włączony CORS</li>
                <li>Początek widoku - wyświetlanie filmów, kawałek edycji</li>
                <li>Można by go trochę zmodyfikować pod działanie wypożyczali filmów</li>
            </ul>
        </li>
    </ol>
    @Html.ActionLink("Back", "Index", "Home")
    <br />
</div>